---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";

import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import AboutMe from "../components/AboutMe.astro";

import ProjectsIcon from "@/components/icons/common/ProjectsIcon.astro";
import EducationIcon from "@/components/icons/common/EducationIcon.astro";
import BriefCaseIcon from "@/components/icons/common/BriefCaseIcon.astro";
import SkillsIcon from "@/components/icons/common/SkillsIcon.astro";
import ProfileCheckIcon from "@/components/icons/common/ProfileCheckIcon.astro";
---

<Layout
    title="Javier González Soldado - Ingeniero Software"
    description="Contrata a Javier González Soldado, Ingeniero Telemático y Estudiante del Máster de Desarrollo de Software Ágil para la Web de la Universidad de Alcalá. Apasionado por la tecnología y el desarrollo web. De Alcalá de Henares, España. Disponible para trabajar."
>
    <main class="lg:max-w-[1200px] md:max-w-2xl mx-auto">
        <SectionContainer id="inicio" class="pt-40 pb-16">
            <Hero>
                <slot />
            </Hero>
        </SectionContainer>

        <SectionContainer id="experiencia" class="py-24">
            <h2
                class="text-4xl font-bold mb-8 flex gap-x-4 items-center text-primary"
            >
                <BriefCaseIcon class="size-8" />
                Experiencia Laboral
            </h2>
            <Experience />
        </SectionContainer>

        <SectionContainer id="educacion" class="py-24">
            <h2
                class="text-4xl font-bold mb-8 flex gap-x-4 items-center text-primary"
            >
                <EducationIcon class="size-8" />
                Educación
            </h2>
            <Education />
        </SectionContainer>

        <SectionContainer id="proyectos" class="py-24">
            <h2
                class="text-3xl font-bold mb-8 flex gap-x-4 items-center text-primary"
            >
                <ProjectsIcon class="size-8" />
                Proyectos
            </h2>
            <Projects />
        </SectionContainer>

        <SectionContainer id="habilidades" class="py-24">
            <h2
                class="text-3xl font-bold mb-8 flex gap-x-4 items-center text-primary"
            >
                <SkillsIcon class="size-8" />
                Habilidades
            </h2>
            <Skills />
        </SectionContainer>

        <SectionContainer id="sobre-mi" class="py-24">
            <h2
                class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-primary"
            >
                <ProfileCheckIcon class="size-8" />
                Sobre mí
            </h2>
            <AboutMe />
        </SectionContainer>
    </main>
</Layout>
