---
import Layout from "../layouts/Layout.astro";
import BriefCaseIcon from "../components/icons/BriefCase.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ProjectsIcon from "../components/icons/Projects.astro";
import Projects from "../components/Projects.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import AboutMe from "../components/AboutMe.astro";
import Hero from "../components/Hero.astro";
---

<Layout
    title="Javier González Soldado - Ingeniero Software"
    description="Contrata a Javier González Soldado, Ingeniero Telemático y Estudiante del Máster de Desarrollo de Software Ágil para la Web de la Universidad de Alcalá. Apasionado por la tecnología y el desarrollo web. De Alcalá de Henares, España. Disponible para trabajar."
>
    <main class="lg:max-w-[1200px] md:max-w-2xl mx-auto">
        <SectionContainer id="inicio" class="py-40">
            <Hero>
                <slot />
            </Hero>
        </SectionContainer>

        <SectionContainer id="experiencia" class="py-40">
            <h2
                class="text-4xl font-bold mb-8 flex gap-x-4 items-center text-primary"
            >
                <BriefCaseIcon class="size-8" />
                Experiencia Laboral
            </h2>
            <Experience />
        </SectionContainer>

        <SectionContainer id="proyectos" class="py-40">
            <h2
                class="text-3xl font-bold mb-8 flex gap-x-4 items-center text-secondary"
            >
                <ProjectsIcon class="size-8" />
                Proyectos
            </h2>
            <Projects />
        </SectionContainer>

        <SectionContainer id="sobre-mi" class="py-40">
            <h2
                class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-tertiary"
            >
                <ProfileCheck class="size-8" />
                Sobre mí
            </h2>
            <AboutMe />
        </SectionContainer>
    </main>
</Layout>
