<div class="flex items-center">
    <span
        class="relative inline-flex overflow-hidden rounded-full py-[1px] px-[2px]"
    >
        <span
            class="absolute inset-[-1000%] animate-[spin_3s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#ff005d_50%,#00fff7_80%,#ff005d_100%)]"
        ></span>
        <div
            class="inline-flex items-center justify-center w-full text-secondary bg-black px-3 py-2 text-md backdrop-blur-3xl whitespace-nowrap font-bold bg-gradient-to-br from-primary/10 to-primaryDark/10"
        >
            <slot />
        </div>
    </span>
</div>
