<div class="flex items-center">
    <span
        class="relative inline-flex overflow-hidden rounded-full py-[1px] px-[2px]"
    >
        <span
            class="absolute inset-[-1000%] animate-[spin_3s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#ff005d_0%,#52011e_50%,#ff005d_100%)]"
        ></span>
        <div
            class="inline-flex items-center justify-center w-full text-primary bg-dark px-3 py-1 text-sm backdrop-blur-3xl whitespace-nowrap"
        >
            <slot />
        </div>
    </span>
</div>
