---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        title: "Ingeniero de Software",
        company: "ThermoHuman",
        date: "Abril 2025 - Actualidad",
        description: "Desarrollo de la aplicación web de ThermoHuman.",
        keyPoints: ["Desarrollo de una aplicación web ...."],
        modality: "Remoto",
    },
    {
        title: "Ingeniero de Software",
        company: "EVO Banco",
        date: "Mayo 2024 - Abril 2025",
        description:
            "Incorporación de la IA Generativa en aplicaciones de la empresa para proporcionar experiencia a los usuarios y mejorar la eficiencia de los procesos.",
        keyPoints: ["Desarrollo de una aplicación web ...."],
        modality: "Hibrido",
    },
    {
        title: "Investigador",
        company: "Universidad de Alcalá",
        date: "Noviembre 2023 - Mayo 2024",
        description:
            "Desarrollo de una aplicación web para automatizar procesos empresariales utilizando LLMs. Investigación de las capacidades de los diferentes LLMs del mercado, así como la ética de su uso y la seguridad de la información.",
        keyPoints: ["Desarrollo de una aplicación web ...."],
        modality: "Remoto",
    },
    {
        title: "Programador Junior",
        company: "SOTEC Consulting",
        date: "Febrero 2023 - Junio 2023",
        description:
            "Desarrollo de una aplicación web aplicando MVC en el departamento de Operaciones para las Auditorías de la empresa. Resolución de incidencias y mantenimiento de la aplicación web de la empresa. Redacción de documentación técnica y funcional. Tecnologías utilizadas: SQL Server, HTML, CSS, JavaScript, Git, .NET, C#, BootStrap, JQuery, Entity Framework.",
        keyPoints: ["Desarrollo de una aplicación web ...."],
        modality: "Presencial",
    },
];
---

<ol class="relative">
    {
        EXPERIENCE.map((experience) => (
            <li class="ms-0">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
