---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        title: "Ingeniero de Software",
        company: "ThermoHuman",
        date: "Abril 2025 - Actualidad",
        description: "Desarrollo de la aplicación web de ThermoHuman.",
        keyPoints: [
            "Colaboración en el desarrollo de la aplicación web.",
            "Mantenimiento y resolución de incidencias.",
            "Soporte técnico a los usuarios.",
        ],
        modality: "Remoto",
    },
    {
        title: "Ingeniero de Software",
        company: "EVO Banco",
        date: "Mayo 2024 - Abril 2025",
        description:
            "Desarrollador en el departamento de Innovación Disruptiva.",
        keyPoints: [
            "Colaboración en el desarrollo de EVO Brain, sistema conversacional basado en LLMs para banca, utilizando LangChain y LangGraph, mejorando la interacción con los clientes y automatizando las consultas.",
            "Participación en la implantación de un sistema de clasificación automática para el proceso de cancelación de cuentas, optimizando la gestión interna mediante GenAI y embeddings.",
            "Contribución en la creación de un sistema de evaluación de interacciones basado en modelos lingüísticos y Procesamiento del Lenguaje Natural (NLP), procesando más de 2000 conversaciones diarias.",
            "Colaboración en el desarrollo de agentes de Retrieval-Augmented Generation (RAG) para Q&A.",
        ],
        modality: "Hibrido",
    },
    {
        title: "Investigador",
        company: "Universidad de Alcalá",
        date: "Noviembre 2023 - Mayo 2024",
        description: "Investigación del impacto y uso de la IA Generativa.",
        keyPoints: [
            "Desarrollo de una aplicación web para automatizar el proceso de contratación, con un 97% de precisión utilizando OpenAI API y MERN stack.",
            "Estudio de las Implicaciones Éticas de GenAI en los procesos de RRHH analizando la toma de decisiones y su impacto.",
        ],
        modality: "Remoto",
    },
    {
        title: "Programador Junior",
        company: "SOTEC Consulting",
        date: "Febrero 2023 - Junio 2023",
        description: "Desarrollador en el departamento de Operaciones.",
        keyPoints: [
            "Desarrollo de una aplicación web utilizando JavaScript para optimizar el proceso de auditoría interna de la empresa, mejorando la gestión de informes y la trazabilidad de los datos.",
            "Resolución de incidencias, pruebas de aplicaciones, notificación de errores y elaboración de informes técnicos.",
        ],
        modality: "Presencial",
    },
];
---

<ol class="relative">
    {
        EXPERIENCE.map((experience) => (
            <li class="ms-0">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
