<footer
    class="bottom-0 z-100000 rounded-t-xl bg-black max-w-[1400px] mx-auto ring-1 ring-primary/20"
>
    <div
        class="w-full mx-auto md:flex md:items-center md:justify-between py-6 px-8"
    >
        <span class="text-sm sm:text-center text-white"
            >© 2025 <a href="#" class="hover:underline">Javier™</a>
        </span>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-300 sm:mt-0"
        >
            <li>
                <a
                    href="#inicio"
                    class="hover:text-primary me-4 md:me-6 transition-all duration-200"
                    >Inicio</a
                >
            </li>
            <li>
                <a
                    href="#experiencia"
                    class="hover:text-primary me-4 md:me-6 transition-all duration-200"
                    >Experiencia</a
                >
            </li>
            <li>
                <a
                    href="#proyectos"
                    class="hover:text-primary me-4 md:me-6 transition-all duration-200"
                    >Proyectos</a
                >
            </li>
            <li>
                <a
                    href="#sobremi"
                    class="hover:text-primary transition-all duration-200"
                    >Sobre mí</a
                >
            </li>
        </ul>
    </div>
</footer>
