---
const navItems = [
    {
        title: "Inicio",
        label: "inicio",
        url: "/#inicio",
    },
    {
        title: "Experiencia",
        label: "experiencia",
        url: "/#experiencia",
    },
    {
        title: "Proyectos",
        label: "proyectos",
        url: "/#proyectos",
    },
    {
        title: "Sobre mí",
        label: "sobre-mi",
        url: "/#sobre-mi",
    },
];
---

<header
    class="sticky top-0 z-10 flex flex-row items-center justify-between max-w-[1400px] mx-auto px-10 py-2 rounded-b-xl"
>
    <img src="/logo.webp" alt="Logo" class="w-16 h-16" />
    <nav class="flex flex-row gap-x-10">
        {
            navItems.map((link) => (
                <a
                    class="px-2 hover:text-primary dark:hover:text-primary font-bold text-lg transition-all duration-200"
                    aria-label={link.label}
                    href={link.url}
                >
                    {link.title}
                </a>
            ))
        }
    </nav>
</header>

<style>
    header {
        animation: header-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }

    @keyframes header-shadown {
        to {
            @apply shadow-lg ring-1 bg-dark ring-primary/20;
        }
    }
</style>
