---
const navItems = [
    {
        title: "Inicio",
        label: "inicio",
        url: "/#inicio",
    },
    {
        title: "Experiencia",
        label: "experiencia",
        url: "/#experiencia",
    },
    {
        title: "Proyectos",
        label: "proyectos",
        url: "/#proyectos",
    },
    {
        title: "Sobre mí",
        label: "sobre-mi",
        url: "/#sobre-mi",
    },
];
---

<header class="sticky top-0 z-10 w-full">
    <div
        class="flex flex-row items-center justify-between w-[1400px] mx-auto px-10 py-2 bg-dark rounded-b-xl ring-1 ring-primary/20"
    >
        <img src="/logo.webp" alt="Logo" class="w-16 h-16" />
        <nav class="flex flex-row gap-x-10">
            {
                navItems.map((link) => (
                    <a
                        class="px-2 hover:text-primary dark:hover:text-primary font-bold text-lg transition-all duration-200"
                        aria-label={link.label}
                        href={link.url}
                    >
                        {link.title}
                    </a>
                ))
            }
        </nav>
    </div>
</header>
