---
import Badge from "@/components/Badge.astro";
import SocialPill from "@/components/SocialPill.astro";

import MailIcon from "@/components/icons/MailIcon.astro";
import GithubIcon from "@/components/icons/GithubIcon.astro";
import LinkedInIcon from "@/components/icons/LinkedInIcon.astro";

const personalImageAlt = "Javier Gonz치lez Soldado";
---

<div>
    <div class="flex justify-between items-center mb-8">
        <div class="flex flex-col justify-between items-center gap-y-12 w-1/4">
            <img
                class="rounded-full shadow-2xl shadow-primary/40 size-48 ring-2 ring-primary/50 object-fit"
                src="me.webp"
                alt={personalImageAlt}
            />
        </div>
        <div class="flex flex-col gap-y-6 w-3/4">
            <h1
                class="text-4xl font-bold tracking-tight sm:text-5xl text-primary"
            >
                游녦 춰Hola! Soy Javier Gonz치lez
            </h1>
            <h2 class="text-lg md:text-xl text-secondary text-pretty">
                Tengo 23 a침os y soy Ingeniero de Software con 2 a침os de
                experiencia en el sector. Disfruto de la programaci칩n con
                especial foco en el desarrollo web y la aplicaci칩n de la IA
                Generativa para resolver problemas de forma automatizada.
            </h2>
        </div>
    </div>
    <div class="flex justify-between items-center mb-4">
        <div class="flex flex-col justify-center items-center w-1/4">
            <a
                href="https://www.linkedin.com/in/javier-gonzalez-soldado/"
                target="_blank"
                rel="noopener"
                class="flex items-center transition md:justify-center md:hover:scale-105"
            >
                <Badge>Escucho ofertas</Badge>
            </a>
        </div>
        <div class="flex flex-col justify-center items-start w-3/4">
            <nav class="flex gap-x-4">
                <SocialPill
                    href="https://www.linkedin.com/in/javier-gonzalez-soldado/"
                    color="cyan"
                >
                    <LinkedInIcon class="size-6" />
                    LinkedIn
                </SocialPill>
                <SocialPill href="https://github.com/botij0" color="lime">
                    <GithubIcon class="size-6" />
                    GitHub
                </SocialPill>
                <SocialPill
                    href="mailto:javier.gonzalez.soldado@gmail.com"
                    color="emerald"
                >
                    <MailIcon class="size-6" />
                    Email
                </SocialPill>
            </nav>
        </div>
    </div>
</div>
