---
const { class: className, id } = Astro.props;
---

<section
    id={id}
    data-section={id}
    class={`section scroll-m-10  mx-auto container ${className}`}
>
    <slot />
</section>
