---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
// Supports weights 100-700
import "@fontsource-variable/roboto-mono";
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-gradient-to-l from-gray-600 to-gray-800">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        color-scheme: light dark;
    }
    html {
        font-family: "Roboto Mono Variable", system-ui, sans-serif;
        height: 100vh;
        scroll-behavior: smooth;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>
